<!DOCTYPE html> 
<html> 
<head> 
    <title>Sentiment Analysis Results</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analyze.css') }}"> 
</head> 
<body> 
    <h1>Sentiment Analysis Results</h1> 
    <h2>Movie Sentiment:</h2> 
    {% if average_score %} 
        <p><strong>Average Compound Score:</strong> {{ average_score }}</p> 
        {% if average_score >= 0.05 %} 
            <p class="positive"><strong>It is worth it. It's positive.</strong></p> 
        {% elif average_score <= -0.05 %} 
            <p class="negative"><strong>Its not worth it. It's negative</strong></p> 
        {% else %} 
            <p class="neutral"><strong>I can't tell it as it is based on the opinions. It's neutral</strong></p> 
        {% endif %} 
    {% else %} 
        <p>No reviews found for the movie.</p> 
    {% endif %} 
     
</body> 
</html>