/* List item styles */
li {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #4d4d4d;
    color: #fff;
  }
  
  /* Link styles */
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Gradient animation */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  